* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 40px;
}

.caja {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin: 15px 15px 15px 15px; 
    padding: 20px;
    display: inline-block; /* Si le coloco este no afecta a los que siguen debajo*/
}

.caja p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 235px;
}